<div class="content-body">
  <div class="content-wrapper">
    <div class="content-inner">
      <div class="title-wrapper">
        <h2>Help Desk > Inquiry</h2>
      </div>
      <div class="board-list" *ngIf="board">
        <div class="board-header not-drag">
          <div class="row">
            <div class="col col-md-1 col-2 text-center">Index</div>
            <div class="col">Title</div>
          </div>
        </div>
        <div class="board-detail">

          <div class="board-item-title">
            <!-- * 관리글인경우 'admin' 클래스 추가 * -->
            <div class="row">
              <div class="col col-md-1 col-2 text-center">1</div>
              <div class="col">{{board.title}}</div>
            </div>
          </div>

          <div class="board-item-content" [innerHTML]="board?.content | safeHtml ">
          </div>
          <!--
            * 사용자가 관리자일 경우
            * 작성자, 이메일, 연락처, 비밀번호 모두 확인 가능하고 삭제, 수정 또한 동의없이 가능.
            -->
          <div class="board-item-footer" *ngIf="user?.role === 'manager'">
            <div class="row">
              <div class="col-md-6 col-offset-auto">
                <div class="board-writer-info">
                  <div class="row">
                    <div class="col col-2 label not-drag">작성자</div>
                    <div class="col col-4">{{board.writer || '-'}}</div>
                    <div class="col col-2 label not-drag">이메일</div>
                    <div class="col col-4 ellipsis">{{board.email || '-'}}</div>
                  </div>
                  <div class="row">
                    <div class="col col-2 label not-drag">연락처</div>
                    <div class="col col-4">{{board.phone}}</div>
                    <div class="col col-2 label not-drag">비밀번호</div>
                    <div class="col col-4">
                      <input type="text" class="form-control form-control-sm password-input" disabled
                        [value]="board.password">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="board-item-footer" *ngIf="(user?.role !== 'manager')">
            <form class="row" [formGroup]="formGroup" (submit)="submit()">
              <div class="col-md-6">
                <div class="board-writer-info">
                  <div class="row" *ngIf="board.writer">
                    <div class="col col-2 label not-drag">작성자</div>
                    <div class="col col-4 col-auto">{{board.writer || '-'}}</div>
                  </div>
                  <div class="row" *ngIf="board.email && board.password">
                    <div class="col col-2 label not-drag">이메일</div>
                    <div class="col col-4">
                      <input type="email" autocomplete="email" class="form-control form-control-sm"
                        formControlName="email">
                    </div>
                    <div class="col col-2 label not-drag">비밀번호</div>
                    <div class="col col-4">
                      <input type="password" autocomplete="new-password"
                        class="form-control form-control-sm password-input" formControlName="password">
                    </div>
                  </div>
                </div>
              </div>
              <!-- <div class="col-md-6 submit" *ngIf="board.email && board.password">
                <button type="submit" class="btn submit-btn" [disabled]="formGroup.invalid">확인</button>
              </div> -->
            </form>
          </div>
        </div>
        <div class="board-detail-footer not-drag">
          <div class="board-btn-wrapper">
            <div class="board-btn navy" *ngIf="user?.role === 'manager' || isEditMode" (click)="delete()">삭제</div>
            <div class="board-btn navy" *ngIf="user?.role === 'manager' || isEditMode" [routerLink]="'/board-regist'"
              [queryParams]="{boardId: board.id}">수정</div>
            <div class="board-btn" [routerLink]="'/board'">List</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
