<header class="fixed-top">
  <div class="content-inner">
    <nav class="navbar navbar-expand-lg navbar-light p-0">

      <a class="navbar-brand p-0" [routerLink]="'/main'"></a>
      <div>
        <!-- <button *ngIf="user && user.isLog" class="py-0 btn btn-atndn mr-2 d-lg-none" [routerLink]="'/my-page'">나의
          시청시간</button> -->
        <button (click)="collapse = !collapse" class="navbar-toggler p-0" type="button" data-toggle="collapse"
          data-target="#navbarMenus" aria-controls="navbarMenus" aria-expanded="false"
          aria-label="Toggle menu navigation">
          <i [ngClass]="{'navbar-toggler-icon': collapse, 'icon-close': !collapse }" aria-hidden="true"></i>
        </button>
      </div>

      <div class="collapse navbar-collapse p-0" id="navbarMenus">
        <ul class="navbar-nav">
          <li class="nav-item" *ngFor="let menu of menus;" [id]="menu.title">
            <a class="nav-link" [routerLink]="menu.router" [routerLinkActive]="'active'">
              {{menu.title}} <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item d-lg-none" *ngIf="!user">
            <a class="nav-link" [routerLink]="'/login'" [routerLinkActive]="'active'">LOGIN</a>
          </li>
          <li class="nav-item d-lg-none" *ngIf="user">
            <a class="nav-link" [routerLink]="'/my-page'" [routerLinkActive]="'active'">My Page</a>
          </li>
          <li class="nav-item d-lg-none" *ngIf="user">
            <a class="nav-link btn-logout" (click)="logout()">LOGOUT</a>
          </li>
        </ul>
      </div>
      <div *ngIf="!user" class="my-2 my-lg-0 d-none d-lg-block">
        <a class="btn-login" [routerLink]="'/login'" [routerLinkActive]="'active'">LOGIN</a>
      </div>

      <div *ngIf="user" class="my-menus my-2 my-lg-0 d-none d-lg-flex">
        <!-- <button *ngIf="user?.isLog" class="py-0 btn btn-atndn" [routerLink]="'/my-page'">나의 시청시간</button> -->
        <a class="py-0 btn btn-my-page" [routerLink]="'/my-page'">
          <img src="assets/img/account-circle.svg" alt="my page icon" role="img">
        </a>
      </div>
    </nav>
  </div>
</header>
