<div class="timetable-wrapper">
  <!-- <div class="timetable-nav">
    <div class="timetable-title">
      <p>Day</p>
    </div>
    <div class="timetable-list">
      <div class="content-inner">
        <div class="nav-item"><a [ngClass]="{'active':date===1}" (click)="setDate(1)">November 6 (Fri)</a></div>
      </div>
    </div>
  </div> -->
  <div class="timetable">
    <!-- 23일 -->
    <table class="program" #table1 *ngIf="date === 1">
      <colgroup>
        <col style="width:10%">
        <col style="width:19%">
        <col style="width:19%">
        <col style="width:19%">
      </colgroup>
      <thead>
        <tr>
          <th><span>Time</span></th>
          <th #th1>
            Channel 1
            <div class="channel-btn" [ngStyle]="channelBtnStyle1" (click)="goLive(0, 0)"></div>
          </th>
          <th>
            Channel 2
            <div class="channel-btn" [ngStyle]="channelBtnStyle1" (click)="goLive(0, 1)"></div>
          </th>
          <th>
            Channel 3
            <div class="channel-btn" [ngStyle]="channelBtnStyle1" (click)="goLive(0, 2)"></div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>09:00 -</td>
          <td colspan="3">Registration</td>
        </tr>
        <tr>
          <td rowspan="2">09:00 - 10:10</td>
          <td rowspan="2" class="type01">
            <p>
              <b>English Oral Presentation<br>(Graduate Students) I</b><sup>a)</sup>
              <br>Chair: So Young Bu<br>(Daegu Univ.)
            </p>
          </td>
          <td class="type01">
            <p>
              <b>Invited Young Scientists Research Presentations I</b><sup>1)</sup>
              <br>Chair: Yoon Jung Yang<br>(Dongduk Women’s
              Univ.),<br>
              Kijoon Kim<br>(Sookmyung Women’s Univ.)
            </p>
          </td>
          <td class="type01">
            <p>
              <b>Invited Young Scientists Research Presentations</b> <sup>II2)</sup>
              <br>Chair: Ji-Myung Kim<br>(Shinhan Univ.),
              Sohyun Park<br>(Hallym Univ.)
            </p>
          </td>
        </tr>

        <tr>
          <td colspan="2" class="type01"><b>‘Herbalife Nutrition’ Young Scientist Award</b></td>
        </tr>

        <tr>
          <td>10:10 - 10:20</td>
          <td colspan="3">Break</td>
        </tr>

        <tr>
          <td>10:20 - 10:40</td>
          <td colspan="3" class="type02">
            <p class="right">Moderator: Kyung-Ah Kim<br>(Secretary Scientific Affairs of KNS, Chungnam Nat’l Univ.)</p>
            <p class="left">Opening<br>
              &nbsp;&nbsp;Opening address: Young-Hee Kang<br>(President of KNS, Hallym Univ.)<br>
              &nbsp;&nbsp;Congratulatory speech
            </p>
          </td>
        </tr>

        <tr>
          <td>10:40 - 11:20</td>
          <td colspan="3" class="type03">
            <p class="right">Chair: Yangha Kim<br>(Ewha Womans Univ.)</p>
            <p class="left"><b>Plenary Lecture Ⅰ</b><br>
              Microbiome and metabolic disease<br>
              Karine Clément<br>(Sorbonne University, France)
            </p>
          </td>
        </tr>

        <tr>
          <td>11:20 - 12:00</td>
          <td colspan="3" class="type03">
            <p class="right">Chair: Myoungsook Lee<br>(President-elect of KNS, Sungshin Women’s Univ.)</p>
            <p class="left"><b>Plenary Lecture ⅠI</b><br>
              Nutrition and the gut microbiome: Whose diet is it? <i>Interrogating diet-microbiome interactions in human
                feeding studies</i><br> Johanna W. Lampe<br>(Fred Hutchinson Cancer Research Center, USA)
            </p>
          </td>
        </tr>

        <tr>
          <td>12:00 - 12:40</td>
          <td colspan="3" class="other1">
            <table>
              <tr>
                <td class="first" width="25%">
                  <p>
                    <b>English Oral Presentation
                      (Graduate Students) II</b><sup>b</sup>)
                    <br>Chair: Eunju Park<br>(Kyungnam Univ.),<br>Yoo-Kyong Park<br>(Kyunghee Univ.)
                  </p>
                </td>
                <td class="type01" width="25%">
                  <p>
                    <b>Career Seminar for Graduate
                      Students
                    </b><br>
                    Chair: Jayong Chung<br>(Kyung Hee Univ.)<br>
                    Scientific officer at Ministry of
                    Food and Drug Safety – What do we do?
                    Hui-Seung Kang<br>(National
                    Institute of Food and Drug
                  </p>
                </td>
                <td class="type01" width="25%">
                  <b>Lunch Time Seminar</b><br>
                  <p>
                    Chair: Bohkyung Kim<br>(Pusan Nat’l Univ.)<br>
                    Safety and functionality evaluation
                    of probiotics as health functional
                    foods
                    Taehyung Yoon (National Institute
                    of Food and Drug
                  </p>
                </td>
                <td class="type02" width="25%">
                  <p>
                    <b>General Assembly</b><br>
                    (Closed Meeting)
                  </p>
                </td>
              </tr>
            </table>
        </tr>
        <tr>
          <td>
            12:40 - 13:40
          </td>
          <td colspan="3">
            Lunch
          </td>
        </tr>

        <tr>
          <td></td>
          <td class="type04">
            <b>Session 1<br>
              Special Lectures
            </b><br>
            Chair: Sung Nim Han<br>(Seoul Nat’l Univ.)
          </td>
          <td class="type04">
            <b>Session 2<br>
              Precision nutrition and the microbiome
            </b><br>
            Chair: Jung Eun Lee<br>(Seoul Nat’l Univ.),<br>Jin-Ah Cho<br>(Chungnam Nat’l Univ.)
          </td>
          <td class="type04">
            <b>Session 3<br>
              Gut microbiome associated diseases
            </b><br>
            Chair: Yunkyoung Lee<br>(Jeju Nat’l Univ.),<br>Sang Gil Lee<br>(Pukyong Nat’l Univ.)
          </td>
        </tr>

        <tr>
          <td>13:40 - 14:10</td>
          <td>
            <p>
              Consensus on the role of dietary fats and cardiovascular disease
              <br>Julie A. Lovegrove<br>(President, The Nutrition Society, UK
              Univ. of Reading, UK)
            </p>
          </td>
          <td>
            <p>
              Characteristics of Korean gut microbiome revealed by next-generation sequencing analysis <br>Young-do Nam
              (Korea Food Research Institute)
            </p>
          </td>
          <td>
            <p>
              Microbiome and fat liver diseases <br>GwangPyo Ko<br>(Seoul Nat’l Univ.)
            </p>
          </td>
        </tr>

        <tr>
          <td>14:10 - 14:40</td>
          <td>
            <p>
              Bifidobacterial commensals colonize the infant gut microbiome to metabolize human milk oligosaccharides
              and non-protein nitrogen<br>
              David A. Sela<br>(Univ. of Massachusetts Amherst, USA)
            </p>
          </td>
          <td>
            <p>Nutritional and metabolic characteristics of Korean gut microbiome <br>Ji-Hee Shin<br>(Korea Food Research
              Institute)</p>
          </td>
          <td>
            <p>Correlation of attention deficit
              hyperactivity disorder with gut microbiota according to dietary intake of Korean elementary school
              children <br>Kyoung-Sik Han (Sahmyook Univ.)</p>
          </td>
        </tr>

        <tr>
          <td>14:40 - 15:10</td>
          <td>
            <p>Vitamins and gut health: Digesting the latest science
              <br>Robert Steinert<br>(DSM Nutritional Products/University of Zurich, Switzerland)</p>
          </td>
          <td>
            <p>Evaluation of anticancer effects and
              microbiome study of probiotics and synbiotics in in vivo animal and human models
              <br>Ju-Hoon Lee<br>(Kyung Hee Univ.)</p>
          </td>
          <td>
            <p>Anti-obesity and anti-inflammatory effects of seaweed associated with modulation of gut microbiota
              <br>Tatsuya Unno<br>(Jeju Nat’l Univ.)</p>
          </td>
        </tr>

        <tr>
          <td>15:10 - 15:30</td>
          <td colspan="3">Break</td>
        </tr>

        <tr>
          <td></td>
          <td class="type04">
            <b>Session 4<br>
              Korean diet and the human gut microbiome
            </b><br>
            Chair: Jeong-Sook Choe (National Institue of Agricultural Sciences),<br>
            Dong-Mi Shin<br>(Seoul Nat’l Univ.)
          </td>
          <td class="type04">
            <b>Session 5<br>
              Nutritional application in skin and oral microbiome
            </b><br>
            Chair: Eunmi Park<br>(Hannam Univ.),<br>
            Jihye Kim<br>(Kyung Hee Univ.)
          </td>
          <td class="type04">
            <b>Session 6<br>
              Analysis and application of microbiome research
            </b><br>
            Chair: Eunjung Kim<br>(Daegu Catholic Univ.),<br>
            Jung-Mi Yun<br>(Chonnam Nat’l Univ.)
          </td>
        </tr>

        <tr>
          <td>15:30 - 16:00</td>
          <td>
            <p>
              Habitual diet and gut microbiota in Korean adults
              <br>Dong-Mi Shin<br>(Seoul Nat’l Univ.)
            </p>
          </td>
          <td>
            <p>Study on the role of human skin microbiome <br>Dong-Geol Lee (COSMAX BTI)
            </p>
          </td>
          <td rowspan="3" class="other2">
            <table cellspacing="0" border="0">
              <tr>
                <td>
                  <p>Microbiome research trend using AI <br>Yongju Ahn<br>(Theragen Etex)</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>Gut microbiome analysis technique and probiotics safety
                    <br>Woori Kwak<br>(Hoonygen)</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>Plan for food industry expansion with microbiome
                    <br>Sookjin Lee<br>(Macrogen)</p>
                </td>
              </tr>

              <tr>
                <td>
                  <p>
                    Understanding enterotypes of the gut microbiome to develop personalized probiotics
                    <br>Hakdong Shin<br>(Sejong Univ.)
                  </p>
                </td>
              </tr>
            </table>
          </td>
        </tr>

        <tr>
          <td>
            16:00 - 16:30
          </td>
          <td>
            <p>Diet, physical activity, and gut microbiota in Korean adults <br>Hwayoung Noh<br>(INSERM & IARC-WHO, France)
            </p>
          </td>

          <td>
            <p>Oral micriobiota-epthelium crosstalk regulates local and distal carcinogensis <br>Na-Young Song<br>(Yonsei
              Univ.)</p>
          </td>
        </tr>

        <tr>
          <td>
            16:30 - 17:00
          </td>
          <td>
            <p>Experimental considerations on designing a human microbiome study <br>Sangnam Oh<br>(Jeonju Univ.)</p>
          </td>
          <td>
            <p>Impact of vitamin D on the oral microbiome
              <br>Eunmi Park<br>(Hannam Univ.)</p>
          </td>
        </tr>

        <tr>
          <td>
            17:00 - 17:30
          </td>
          <td colspan="3" class="type02">
            <p class="right">Moderator: Jayong Chung<br>(Secretary Scientific Affairs of KNS, Kyung Hee Univ.)</p>
            <b>Award Ceremony & Closing</b>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
