<div class="content-body">
  <div class="content-wrapper">
    <div class="content-inner">
      <div class="title-wrapper">
        <h2 class="live">Posters</h2>
      </div>
      <div class="poster-detail-wrapper">
        <div class="poster-detail-title">
          <p>{{ selectedPoster.category?.categoryName }}</p>
          <h3>{{ selectedPoster.title }}</h3>
        </div>
        <div class="poster-detail-content">
          <div class="poster-content-body">
            <div class="iframe-wrapper">
              <p [innerHTML]="selectedPoster.description | safeHtml"></p>
            </div>
            <div class="pdf-wrapper">
              <pdf-viewer #pdfViewer *ngIf="slide" [src]="slide.url" [(page)]="slideCurrentPage" [show-all]="false"
                [original-size]="false" [render-text]="false" [autoresize]="true" [zoom]="0.6"
                (after-load-complete)="loadedSlide($event)" style="display: block;">
              </pdf-viewer>
              <div class="slider-button-wrapper">
                <div class="prev-btn-wrapper">
                  <button (click)="setSlide(-1)">
                    <img src="assets/img/bt_previouspage.png">
                  </button>
                </div>
                <div class="pager-wrapper">
                  <!-- {{slideCurrentPage}}/{{slideTotalPage}} -->
                </div>
                <div class="next-btn-wrapper">
                  <button (click)="setSlide(1)">
                    <img src="assets/img/bt_nextpage.png">
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="poster-content-footer">
            <div class="poster-info">
              <h4>
                Author
              </h4>
              <p>
                {{ selectedPoster.author }}
              </p>
            </div>
            <div class="poster-info">
              <h4>
                Affiliation
              </h4>
              <p class="">
                {{ selectedPoster.company }}
              </p>
            </div>
            <!-- <div class="poster-info" *ngIf="selectedPoster.contents">
              <h4>View</h4>
              <p>
                <a class="download" href="{{ selectedPoster.contents?.contentUrl }}" target="_blank">
                  <img class="view-icon" src="../../../../assets/icons/play.svg">
                  <span class="ellipsis">{{ selectedPoster.contents?.title }}</span>
                </a>
              </p>
              target="_blank">{{ selectedPoster.contents?.contentUrl }}</a> ]</p>
            </div> -->
          </div>
        </div>
      </div>
      <div class="back-to-list">
        <a [routerLink]="'/posters'">
          <button>BACK TO LIST</button>
        </a>
      </div>
    </div>
  </div>
</div>
