<div class="content-body">
  <div class="content-wrapper">
    <div class="content-inner">
      <div class="my-page-wrapper">
        <div class="title-wrapper">
          <h2>Hello! {{user.name}}</h2>
          <a (click)="logout()" class="login-status">Logout</a>
        </div>
        <article>
          <div class="my-page-inner personal-information">
            <h3>개인정보</h3>
            <div class="info-wrapper">
              <div class="info-inner">
                <span class="info-title">Name</span>
                <p class="info-desc">{{user.name}}</p>
              </div>
              <div class="info-inner">
                <span class="info-title">Password</span>
                <p class="info-desc">
                  <a class="email-change" data-toggle="modal" data-target="#changePassword">
                    비밀번호 변경하기
                  </a>
                </p>
              </div>
              <div class="info-inner">
                <span class="info-title">E-mail</span>
                <p class="info-desc">{{user.email}}</p>
              </div>
              <div class="info-inner" *ngIf="user.phone">
                <span class="info-title">Phone Number</span>
                <p class="info-desc">{{user.phone}}</p>
              </div>
              <div class="info-inner" *ngIf="user.organization">
                <span class="info-title">Organization</span>
                <p class="info-desc">{{user.organization}}</p>
              </div>
              <div class="info-inner" *ngIf="user.dept">
                <span class="info-title">Div./Dept.</span>
                <p class="info-desc">{{user.dept}}</p>
              </div>
              <div class="info-inner" *ngIf="user.position">
                <span class="info-title">Position</span>
                <p class="info-desc">{{user.position}}</p>
              </div>
              <div class="info-inner" *ngIf="user.title">
                <span class="info-title">Title</span>
                <p class="info-desc">{{user.title}}</p>
              </div>
              <div class="info-inner" *ngIf="user.country">
                <span class="info-title">Country</span>
                <p class="info-desc">{{user.country}}</p>
              </div>
              <div class="info-inner" *ngIf="user.address">
                <span class="info-title">Address</span>
                <p class="info-desc">{{user.address}}</p>
              </div>
            </div>
          </div>

          <div class="my-page-inner stamp-tour" *ngIf="user.isLog">
            <h3>스탬프투어</h3>
            <div class="info-inner">
              <div class="stamp-list row m-0">
                <ng-container *ngFor="let booth of booths">
                  <div class="stamp-item px-1" [ngClass]="{'opacity': booth.visit, 'visited':booth.visit}">
                    <img class="spon-logo" [ngClass]="{'opacity': booth.visit}" [src]="booth.photoUrl"
                      [alt]="booth.name">
                    <img *ngIf="booth.visit" class="stamp-icon" src="assets/img/stamp.png" alt="스템프이미지">
                  </div>
                </ng-container>
              </div>
            </div>
          </div>

          <!-- <div class="my-page-inner viewing-record" *ngIf="user.isLog">
            <div class="title-wrapper">
              <h3>시청기록</h3>
              <span class="item-time-total">총 시청시간:
                {{hour}}h {{min}}m
              </span>
            </div>
            <div class="item-live" *ngFor="let history of histories">
              <div class="into-inner">
                <p class="item-title" (click)="historyDetail(history)" data-toggle="modal" data-target="#historyDetail">
                  {{history.title}}
                </p>
                <p class="item-time">
                  시청시간 : {{ history.watchTime }}분
                </p>
              </div>
            </div>
          </div> -->
        </article>
      </div>
    </div>
  </div>
</div>

<!-- 비밀번호 변경 -->
<div class="modal changePassword fade" id="changePassword" data-backdrop="static" role="dialog"
  aria-labelledby="changePassword" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered justify-content-center" role="document">
    <div class="modal-content not-drag">
      <div class="modal-body p-0">
        <div class="modal-title">
          비밀번호 변경
        </div>
        <div class="modal-description">
          <p>
            변경할 비밀번호를 입력해 주세요.
          </p>
        </div>
        <div class="input-form">
          <label for="password-new">새로운 비밀번호</label>
          <input type="password" id="password-new" [(ngModel)]="PASSWORD_NEW">
        </div>

        <div class="input-form">
          <label for="password-new-confirm">새로운 비밀번호 확인</label>
          <input type="password" id="password-new-confirm" [(ngModel)]="PASSWORD_CONFIRM">
        </div>

        <div class="submit-button">
          <button type="button" class="btn btn-block confirm-btn" (click)="changePassword()">
            비밀번호 변경
          </button>
          <button class="cancel" data-toggle="modal" data-target="#changePassword" (click)="cancelChangePwd()">
            취소
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 시청이력 팝업 -->
<!-- <div class="modal historyDetail fade" id="historyDetail" data-backdrop="static" role="dialog"
  aria-labelledby="historyDetail" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered justify-content-center" role="document">
    <div class="modal-content not-drag">
      <div class="modal-body p-0">
        <div class="modal-title">
          <div class="modal-title-text">
            시청기록
          </div>
          <div class="modal-close" data-toggle="modal" data-target="#historyDetail">
          </div>
        </div>
        <div class="modal-description">
          <div class="item-time-wrapper" *ngFor="let log of selectedHistory">
            <div class="item-time">
              In: {{log.in}} ~ Out: {{log.out}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
