<div class="content-body">
  <div class="content-wrapper bg-e-booth" *ngFor="let category of categories; let i = index;" [ngClass]="'booth-' + i">
    <div>
      <article>
        <div class="e-booth-banner">
          <img src="assets/img/e-booth/booth{{i}}/banner.png" alt="배너">
          <div class="flag-wrapper">
            <span class="flag-left">
              <img src="assets/img/e-booth/flag-left.png" alt="깃발1">
            </span>
            <span class="flag-right">
              <img src="assets/img/e-booth/flag-right.png" alt="깃발2">
            </span>
          </div>
        </div>
        <div class="e-booth-wrapper">
          <div class="booth{{i}}-spon" *ngFor="let booth of category.booths; let a = index;">
            <button type="button" [attr.data-target]="'#e-boothModal'" data-toggle="modal" (click)="getDetail(booth)">
              <img src="assets/img/e-booth/booth{{i}}/booth-spon{{a + 1}}.png" alt="스폰{{a + 1}}">
            </button>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>

<!-- e-booth modal -->
<div class="modal detail-modal fade" id="e-boothModal" tabindex="-1" role="dialog" aria-labelledby="e-boothModal"
  aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="item-btn" data-dismiss="modal" aria-label="Close">
          <i class="icon-close-w" aria-hidden="true"></i>
        </button>
      </div>
      <div class="modal-body p-0">
        <figure class="e-booth">
          <div class="image-wrapper" *ngIf="selectedBooth">
            <img [src]="selectedBooth.photoUrl + '?' + random || ''">
            <div class="item-info">
              <p class="item-name">{{selectedBooth?.name || ''}}</p>
              <!-- <a title="{{(selectedBooth?.name|| '') + ' 바로가기'}}" target="_blank" [href]="selectedBooth?." class="home-link">Go
                homepage</a> -->
            </div>
          </div>
          <div class="item-inner">
            <div class="attachments" *ngIf="attachments">
              <div>
                <a *ngFor="let attachment of attachments" class="download" target="_self" title="{{attachment.title}}"
                  [href]="attachment.contentUrl" download="{{attachment.title}}">
                  <i class="icon-clip"></i>
                  <span class="ellipsis">{{attachment.title}}</span>
                </a>
              </div>
            </div>
          </div>
        </figure>
        <div class="item-desc">
          <div class="iframe-wrapper" id="boothModalDesc"></div>
        </div>
      </div>
    </div>
  </div>
</div>


<button #winAlertBtn class="win-alert-btn" data-toggle="modal" data-target="#winAlert">
  win modal open
</button>

<!-- 당첨 모달 -->
<div class="modal win-alert fade" id="winAlert" data-backdrop="static" role="dialog" aria-labelledby="winAlert"
  tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered justify-content-center" role="document">
    <div class="modal-content not-drag">
      <div class="modal-body p-0">
        <div class="modal-description">
          <p class="mb-2">
            스템프 투어 이벤트 참여가 완료되었습니다.
          </p>
        </div>
        <button type="button" class="btn btn-block confirm-btn" data-toggle="modal" data-target="#winAlert">
          확인
        </button>
      </div>
    </div>
  </div>
</div>