<div class="content-body">
  <div class="content-wrapper">
    <div class="content-inner">
      <div class="title-wrapper">
        <h2 class="vod">전공의 연수교육<br class="d-block d-sm-none">
        </h2>
      </div>
    </div>
    <article>
      <div class="content-inner">
        <div class="category" *ngFor="let category of categories">
          <div *ngIf="!category?.groups" class="vod-group">
            <div class="category-title">
              <h3>{{category.categoryName}}</h3>
            </div>
            <div *ngFor="let vod of category.vods">
              <div class="vod">
                <div class="category-title">
                  <h3 class="title-click" (click)="vod.contents ? goDetail(vod) : ''">
                    {{vod.title}}</h3>
                  <svg *ngIf="vod.contents" width="1.4em" height="1.4em" viewBox="0 0 16 16"
                    class="icon-camera bi bi-camera-video-fill" fill="currentColor">
                    <path fill-rule="evenodd"
                      d="M0 5a2 2 0 0 1 2-2h7.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 4.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 13H2a2 2 0 0 1-2-2V5z" />
                  </svg>
                </div>
                <div class="vod-info">
                  <div class="title" *ngIf="vod.title">{{vod.title}}</div>
                  <div class="description" *ngIf="vod.description">{{vod.description}}</div>
                </div>
                <div class="speakers" *ngIf="vod.speakers">
                  <div class="speaker" *ngFor="let speaker of vod.speakers" role="button"
                    [attr.data-target]="'#speakersModal'" data-toggle="modal" (click)="getDetail(speaker)">
                    <div class="photo" [style.backgroundImage]="'url('+speaker.photoUrl+')'">
                    </div>
                    <div class="item-info">
                      <h4 *ngIf="speaker.fullName">{{speaker.fullName}}</h4>
                      <p *ngIf="speaker.company">{{speaker.company}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="category.groups">
            <div class="vod-group" *ngFor="let vodList of category.groups">
              <div *ngFor="let vod of vodList">
                <div class="vod">
                  <div class="vod-info">
                    <div class="title" *ngIf="vod.title" [ngClass]="{'title-click': vod.contents}"
                      (click)="vod.contents ? goDetail(vod) : ''">{{vod.title}}
                      <svg *ngIf="vod.contents" width="1.4em" height="1.4em" viewBox="0 0 16 16"
                        class="icon-camera bi bi-camera-video-fill" fill="currentColor">
                        <path fill-rule="evenodd"
                          d="M0 5a2 2 0 0 1 2-2h7.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 4.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 13H2a2 2 0 0 1-2-2V5z" />
                      </svg>
                    </div>
                    <div class="description" *ngIf="vod.description">{{vod.description}}</div>
                  </div>
                  <div class="speakers" *ngIf="vod.speakers">
                    <div class="speaker" *ngFor="let speaker of vod.speakers">
                      <h4 *ngIf="speaker.fullName">{{speaker.fullName}}</h4>
                      <p *ngIf="speaker.company">{{speaker.company}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>
  </div>
</div>
<!-- speakers modal -->
<div class="modal detail-modal fade" id="speakersModal" tabindex="-1" role="dialog" aria-labelledby="speakersModal"
  aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="item-btn" data-dismiss="modal" aria-label="Close">
          <i class="icon-close-w" aria-hidden="true"></i>
        </button>
      </div>
      <div class="modal-body p-0">
        <figure class="speakers">
          <div class="photo">
            <div class="image-wrapper">
              <img [src]="selectSpeaker?.photoUrl || ''" alt="{{selectSpeaker?.title || ''}}">
            </div>
            <div class="item-info">
              <p class="item-name">{{selectSpeaker?.fullName || ''}}</p>
              <p class="item-company">{{selectSpeaker?.company || ''}}</p>
              <span class="item-company-title">{{selectSpeaker?.title || ''}}</span>
            </div>
          </div>
          <figcaption>
            <div class="item-desc" *ngIf="selectSpeaker?.description">
              <p [innerHTML]="selectSpeaker?.description || ''"></p>
            </div>
            <app-program-live [program-live]="selectSpeaker?.agenda || ''"></app-program-live>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</div>
