<div class="content-body">
  <app-program-nav [dates]="dates" [rooms]="rooms" [selected]="selected" (setDateFn)="setAgendaList($event, rooms[0])"
    (setRoomFn)="setAgendaList(selected.date, $event)"></app-program-nav>
  <div class="content-inner" *ngIf="agenda && agenda.contents">
    <app-player [content]="agenda.contents" [isAgendaDetail]="true"></app-player>
  </div>

  <div class="banners-wrapper" *ngIf="banners.length > 0">
    <div class="banners-btn banners-prev" (click)="slidePrev('bannerSlider')">
      <img src="assets/img/ic_dropdown_class_up.png">
    </div>
    <ng-image-slider #bannerSlider [infinite]="true" [imagePopup]="false" [autoSlide]="10" [animationSpeed]="0"
      [images]="banners" [imageSize]="{ width: slideItemW, height: 87, space: 0 }" [manageImageRatio]="true"
      [showArrow]="false" (imageClick)="imageClick($event)">
    </ng-image-slider>
    <div class="banners-btn banners-next" (click)="slideNext('bannerSlider')">
      <img src="assets/img/ic_dropdown_class_up.png">
    </div>
  </div>

  <!-- Agenda -->
  <div class="agenda" *ngIf="agenda">
    <app-agenda [agenda]="agenda"></app-agenda>
  </div>


  <div class="back-to-list">
    <button (click)="setAgendaList(selected.date, selected.room)">BACK TO LIST</button>
  </div>

</div>
